body {
  background: #ccc;
}

.login_block .form_area {
  width: 300px;
  padding: 15px 0;
  position: absolute;
  background: #fff;
  top: 20%;
  left: 50%;
  border: none;
  margin-left: -100px;
  border-radius: 10px;
}

.login_block .form_area p {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.login_block .form_area input {
  width: 100%;
  font-size: 1.0rem;
  line-height: 2rem;
  border-radius: 1px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  outline: none;
  padding: 2px;
}

.login_block .form_area .login_btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background: #5d8fc2;
  width: 100%;
}

