/*** reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*  HTML5 display-role reset for older browsers
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 擬似要素にも同様のプロパティを指定 */
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 擬似要素にも同様のプロパティを指定 */
}
.header_area {
  width: 100%;
  background-color: #000;
  color: #fff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}
.header_area .header_logo {
  margin-left: 5%;
}
.header_area .header_logo a {
  font-size: 37px;
  color: #fff;
  text-decoration: none;
}
.header_area .header_logo a:hover {
  color: #fff;
  text-decoration: underline;
}
.header_area .right_area {
  min-width: 250px;
  margin-right: 4%;
}
.header_area .right_area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header_area .right_area ul li {
  line-height: 30px;
  margin-right: 20px;
  list-style-type: none;
}
.header_area .search_area {
  height: 30px;
}
.wrapper {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.left_area {
  min-width: 20%;
  margin-left: 3%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.left_area .tag_area .each_tag {
  list-style-type: none;
  display: block;
  margin: 10px 0;
  height: 20px;
}
.left_area .tag_area .each_tag a {
  color: #000;
  text-decoration: none;
}
.left_area .tag_area .each_tag a:hover {
  text-decoration: underline;
}
.footer {
  margin-top: 25px;
}
.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer ul li {
  min-width: 10%;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}
