.footer{
	margin-top: 25px;
	ul{
		display:flex;
		flex-direction:row;
		flex-wrap: nowrap;
		justify-content:center;
		li{
			min-width:10%;
			list-style-type:none;
			text-decoration:none;
			text-align:center;
		}
	}
}
