.header_area{

	flex-wrap: nowrap;
	display:flex;
	justify-content:space-between;
	align-items:center;

	.header_logo{

	}

	.right_area ul{
		display:flex;
		justify-content:center;
		li {
			margin-left:10px;
			list-style-type:none;
		}


	}

}