.item_area{

	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;

	.single_item{
		max-width:22%;
	}

	.item_other_info{
		overflow:hidden;
		dt{
			margin-top:5px;
			width:30%;
			float:left;
			clear:both;
		}
		dd{
			margin-top:5px;
		}
	}
}


.pagination{

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;

	li{
		list-style-type:none;
		border-top:solid 1px #000;
		border-left:solid 1px #000;
		border-bottom:solid 1px #000;
		min-width:4%;
		&:first-child{
			border-radius: 3px 0 0 3px;
		}
		&:last-child{
			border-right:solid 1px #000;
			border-radius: 0 3px 3px 0;
		}
		text-align:center;
		a{
			text-decoration:none;
		}
		a:hover{
			text-decoration:underline;
		}
	}

}